<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content-wrapper">
        <header>
            <h1>Cherished Old Recipes</h1>
            <h2>From Chicago Womens Club 1887</h2>
        </header>
        <div class="search-container">
            <form method="POST">
                <input type="text" placeholder="Enter Recipe Name..." id="recipeName" name="recipeName">
                <button type="submit" id="generateButton">Generate</button>
            </form>
        </div>
        {% if recipe %}
        <div class="content-container">
            <div class="recipe-details">
                {% for description in recipe %}
                    <p>{{ description }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <footer>
        <p>Recipes sourced from <a href="https://huggingface.co/spaces/sarat2hf/RAG_LLM/blob/main/175_choice_recipes_mainly_furnished_by_members_of_the_chicago_womens_club-1887.pdf" target="_blank">Chicago Womens Club 1887</a>.</p>
    </footer>
</body>
</html>
